h1 {
  color: blue;
}

.content {
  display: none;
  background-color: white;
}

.initial-content {
  display: block;
}

.container-fluid {
  max-width: 1280px;
}

.btn {
  margin: 3px;
  padding: 1px;
}

#sticky-sidebar {
  min-height: 100vh;
}
