h1 {
  color: rgb(48, 45, 95);
}

.content {
  display: none;
  background-color: white;
}

.initial-content {
  display: block;
}

.container-fluid {
  max-width: 1280px;
}

.btn {
  margin: 3px;
  padding: 1px;
}

#sticky-sidebar {
  min-height: 100vh;
}

code {
  display: block;
  text-align: left;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  background-color: #bbbbbb !important;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  color: #3a3a3a;
}

.components {
  margin: 0px;
}

.content-wrapper {
  background-color: #eeeeee;
}
.content-wrapper * {
  background-color: #eeeeee;
}
